<!DOCTYPE html>
<html lang="en" layout:decorator="views/main" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Locate Atm</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
</head>
<body>

<div layout:fragment="content">
<h1 align="center">Find the Nearest Atm</h1>
<hr/>
<img align="center" th:src="@{/mylocation/images/atms.jpg}" />
<blockquote>
<p>Click <a th:href="@{/locateAllAtms}"> here </a> to list ATM's.</p>
</blockquote>
</div>
</body>
</html>